/*文字*/
span{
	color:black;
	font-size: 15px;
}
/*背景图*/
body{
	background-size:auto 820px;
}
/*登录*/
.login{
	text-decoration: none;
	font-family: 宋体;
	color:rgb(108, 157, 248);
	font-size:18px;
	margin-top:90px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid rgba(216, 216, 216, 0.877);
	padding-bottom: 10px;
}
/*注册*/
.register{
	text-decoration: none;
	font-family: 宋体;
	color:black;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin-left: -10px;
	padding-bottom:	10px;
	border-bottom:1px solid rgba(216, 216, 216, 0.877);
}
/*账号*/
.username{
	margin-top: 30px;
}
/*密码*/
.password{
	margin-top: 10px;
}
/*logo.png*/
div{
	background-color: white;
	margin-left: 150px;
	width:590px;
	height:400px;
	padding-left:0px;
	margin-top:200px;
	border-radius: 3%;
	box-shadow: -15px -15px 5px #c7e1f7;
	position: relative;
}
/*登录一直到记住密码*/
divs{
position: absolute;
padding-left:420px;
margin-top:-470px;
height: 500px;
}
/*按钮*/
.content input[type="submit"]
{
	cursor: pointer;
	position: absolute;
	margin-left: 430px;
	margin-top: -150px;
	border: white;
	width: 250px;
	height: 30px;
	color: white;
	font-size: 18px;
	background-color:rgb(13, 115, 199);
	z-index: 1;
}
/*logo.png的位置*/
img{
	margin-left: 20px;
	margin-top:100px;
	width: 200px;
}
/*1.jpg的位置*/
ab{
	position: absolute;
	margin-left: 490px;
	margin-top: -450px;
}
/*three.jpg的位置*/
tp{
	position: absolute;
	margin-top: -170px;
	z-index: 1;
	margin-left: 420px;
}
/*第三方登录的位置*/
ds{
	position: absolute;
	margin-top: -100px;
	margin-left: 430px;
	font-size: 10px;
	border-bottom:1px solid rgba(216, 216, 216, 0.877);
	padding-bottom: 10px;
}
/*记住密码和忘记密码的字体大小*/
h{
	font-size: 10px;
}